.ui-button--full-width {
    min-height: 62px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: var(--action-fs);
    color: var(--action-color-text);
    background-color: var(--action-color-bg);
    border-radius: var(--action-border-radius);
    border: none;
}

.ui-button--full-width:disabled {
    background-color: var(--action-color-bg--disabled);
}

.ui-button--full-width {
    width: 100%;
}