.ui-spinner {
    display: inline-block;
    width: 0.75em;
    height: 0.75em;
    background-color: var(--color-blue);
    animation: rotate-square 1.2s infinite ease-in-out;
}

@keyframes rotate-square {
    0% { transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
    50% { transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
    100% { transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); }
}