.i-radio {
    --color: var(--radio-input-color);
    --size: var(--radio-input-size);
    --size-check: var(--radio-input-check-size);

    position: relative;
    display: inline-block;

    border: 1px solid var(--color);
    border-radius: 50%;
    width: var(--size);
    height: var(--size);
}

.i-radio:after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    line-height: var(--size);
    border-radius: 50%;
    width: var(--size-check);
    height: var(--size-check);

    background-color: transparent;
}

.i-radio--checked:after {
    background-color: var(--color);;
}
